<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:pigeon="http://pigeon.org/schema/pigeon"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://pigeon.org/schema/pigeon
       http://pigeon.org/schema/pigeon.xsd">

    <pigeon:config id="config" address="127.0.0.1" port="8962" protocol="mina" serializer="protostuff" />

    <!--<pigeon:registry id="registry" protocol="zookeeper" address="192.168.0.113" port="2181" />-->
    <pigeon:registry id="registry" protocol="zookeeper" address="192.168.216.129" port="2181" />

    <pigeon:service id="helloService" interface="org.pigeon.demo.server.service.HelloService" ref="helloServiceImpl" />
    <pigeon:service id="worldService" interface="org.pigeon.demo.server.service.WorldService" ref="worldServiceImpl" />

    <bean class="org.pigeon.demo.server.service.impl.HelloServiceImpl" id="helloServiceImpl" />
    <bean class="org.pigeon.demo.server.service.impl.WorldServiceImpl" id="worldServiceImpl" />

</beans>