<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:pigeon="http://pigeon.org/schema/pigeon"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://pigeon.org/schema/pigeon
       http://pigeon.org/schema/pigeon.xsd">

    <pigeon:config id="config" protocol="mina" route="rr" serializer="protostuff" />

    <pigeon:registry id="registry" protocol="zookeeper" address="116.62.188.141" port="2181"/>

    <pigeon:client id="testService" interface="org.pigeon.demo.server.service.TestService">
        <pigeon:method id="testAsync0" name="testAsync" sync="false" />

        <pigeon:method id="testAsync1" name="testAsync" sync="false" callback="testAsyncCallback">
            <pigeon:paramter javaType="java.lang.String" seq="0" />
            <pigeon:paramter javaType="int" seq="1" />
            <pigeon:paramter javaType="double" seq="2" />
        </pigeon:method>

        <pigeon:method id="testAsync2" name="testAsync" sync="false" callback="testAsyncCallback">
            <pigeon:paramter javaType="java.lang.String" seq="0" />
        </pigeon:method>

        <pigeon:method id="testAsync3" name="testAsync" sync="false" callback="testAsyncPersonCallback">
            <pigeon:paramter javaType="org.pigeon.demo.server.model.Person" seq="0"/>
        </pigeon:method>

        <pigeon:method id="testAsync4" name="testAsync2" sync="false" callback="testAsyncCallback" />

        <pigeon:method id="testAsync5" name="testAsync2" sync="false" callback="testAsync2Callback">
            <pigeon:paramter javaType="java.lang.String" seq="0" />
            <pigeon:paramter javaType="int" seq="1" />
            <pigeon:paramter javaType="double" seq="2" />
        </pigeon:method>

        <pigeon:method id="testAsync6" name="testAsync" sync="false">
            <pigeon:paramter javaType="java.lang.String" seq="0" />
            <pigeon:paramter javaType="int" seq="1" />
        </pigeon:method>
    </pigeon:client>

    <bean id="testAsyncCallback" class="org.pigeon.demo.client.callback.TestAsyncCallback" />
    <bean id="testAsync2Callback" class="org.pigeon.demo.client.callback.TestAsync2Callback" />
    <bean id="testAsyncPersonCallback" class="org.pigeon.demo.client.callback.TestAsyncPersonCallback" />

</beans>